<?xml version="1.0"?>
<robot name="three_car" xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- 包含common_properties.xacro -->
    <!-- <xacro:include filename="common_properties.xacro" /> -->
    <xacro:include filename="mobile_base.xacro" />
    <xacro:include filename="mobile_base_gazebo.launch.xacro" />
    
</robot>